<a href="https://colab.research.google.com/github/Fanfave1/Nigeria-covid-19-dataanalysis-project/blob/main/COVID_19_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries

In [ ]:
import pandas as pd

In [ ]:
#load datasets

In [ ]:
covid_nig_data = pd.read_csv('/covidnig.csv')

In [ ]:
budget_data = pd.read_csv('/Budget data.csv')

In [ ]:
covid_external_data = pd.read_csv('/covid_external.csv')

In [ ]:
real_gdp_data = pd.read_csv('/RealGDP.csv')

In [ ]:
#clean datasets

In [ ]:
covid_nig_data.columns = ['States Affected', 'No. of Cases(Lab Confirmed)', 'No. of Cases(On Admission)', 'No. Discharged', 'No. of Deaths']

In [25]:
covid_nig_data.fillna(0,inplace=True)

In [26]:
budget_data.columns = ['States', 'Initial_budget(Bn)', 'Revised_budget(Bn)']

In [27]:
budget_data.fillna(0,inplace=True)

In [28]:
covid_external_data.columns = ['States', 'Region', 'Population', 'OverallCCVI  Index', 'Age', 'Epidemiological', 'Fragility', 'Health System', 'Population Density ', 'Socio-economic', 'Transport Availability', 'Acute IHR']

In [29]:
covid_external_data.fillna(0,inplace=True)

In [30]:
real_gdp_data.columns = ['Year', 'Q1', 'Q2', 'Q3', 'Q4']

In [31]:
real_gdp_data.fillna(0,inplace=True)

In [39]:
print(covid_nig_data.head())

  States Affected No. of Cases(Lab Confirmed) No. of Cases(On Admission)  \
0           Lagos                      26,708                      2,435
1             FCT                       9,627                      2,840
2          Kaduna                       4,504                        579
3         Plateau                       4,262                        280
4             Oyo                       3,788                        368

  No. Discharged  No. of Deaths
0         24,037            236
1          6,694             93
2          3,877             48
3          3,948             34
4          3,374             46

In [32]:
#Calculate total cases, deaths, and recoveries across all states

In [42]:
total_cases = covid_nig_data['No. of Cases(Lab Confirmed)'].sum()

In [36]:
total_deaths = covid_nig_data['No. of Deaths'].sum()

In [37]:
total_recoveries = covid_nig_data['No. Discharged'].sum()

In [43]:
#Add new columns for case percentages by state

In [45]:
print(covid_nig_data['No. of Cases(Lab Confirmed)'].unique())

['26,708' '9,627' '4,504' '4,262' '3,788' '3,279' '2,768' '2,382' '2,032'
 '1,843' '1,793' '1,405' '1,376' '1,296' '1,164' '1,091' '980' '979 '
 '897' '778' '734' '600' '515' '497' '405' '395' '386' '381' '355' '299'
 '228' '203' '164' '143' '93' '79' '5']

In [47]:

covid_nig_data['No. of Cases(Lab Confirmed)'] = pd.to_numeric(
    covid_nig_data['No. of Cases(Lab Confirmed)'], errors='coerce'
)

In [49]:
total_cases = covid_nig_data['No. of Cases(Lab Confirmed)'].sum()

In [51]:

covid_nig_data['Cases Percentage'] = (covid_nig_data['No. of Cases(Lab Confirmed)'] / total_cases) * 100

In [53]:
covid_nig_data['Deaths Percentage'] = (covid_nig_data['No. of Deaths'] / total_deaths) * 100

In [54]:
print(covid_nig_data['No. Discharged'].unique())

['24,037' '6,694' '3,877' '3,948' '3,374' '2,987' '2,603' '2,175' '1,778'
 '1,737' '1,690' '1,167' '1,321' '1,094' '950' '1,037' '945' '937' '775'
 '705' '661' '325' '460' '421' '375' '342' '318' '300' '238' '274' '171'
 '177' '123' '130' '81' '73' '3']

In [55]:
covid_nig_data['No. Discharged'] = covid_nig_data['No. Discharged'].str.replace(',', '').astype(float)

In [56]:
covid_nig_data['No. Discharged'] = pd.to_numeric(covid_nig_data['No. Discharged'], errors='coerce')

In [57]:
total_recoveries = covid_nig_data['No. Discharged'].sum()
print(total_recoveries)

68303.0

In [58]:
covid_nig_data['No. Discharged'].fillna(0, inplace=True)
total_recoveries = covid_nig_data['No. Discharged'].sum()

<ipython-input-58-376f0e771f87>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  covid_nig_data['No. Discharged'].fillna(0, inplace=True)

In [59]:
covid_nig_data['Recoveries Percentage'] = (covid_nig_data['No. Discharged'] / total_recoveries) * 100

In [60]:
# Display the summary

In [61]:
print("Total Confirmed Cases:", total_cases)

Total Confirmed Cases: 9116.0

In [62]:
print("Total Deaths:", total_deaths)

Total Deaths: 1221

In [63]:
print("Total Recoveries:", total_recoveries)

Total Recoveries: 68303.0

In [65]:
covid_nig_data[['States Affected', 'No. of Cases(Lab Confirmed)', 'No. of Deaths', 'No. Discharged',
                'Cases Percentage', 'Deaths Percentage', 'Recoveries Percentage']]

,States Affected,No. of Cases(Lab Confirmed),No. of Deaths,No. Discharged,Cases Percentage,Deaths Percentage,Recoveries Percentage
0,Lagos,NaN,236,24037.0,NaN,19.328419,35.191719
1,FCT,NaN,93,6694.0,NaN,7.616708,9.800448
2,Kaduna,NaN,48,3877.0,NaN,3.931204,5.676178
3,Plateau,NaN,34,3948.0,NaN,2.784603,5.780127
4,Oyo,NaN,46,3374.0,NaN,3.767404,4.939754
5,Rivers,NaN,60,2987.0,NaN,4.914005,4.373161
6,Edo,NaN,113,2603.0,NaN,9.254709,3.810960
7,Ogun,NaN,33,2175.0,NaN,2.702703,3.184340
8,Kano,NaN,56,1778.0,NaN,4.586405,2.603107
9,Delta,NaN,49,1737.0,NaN,4.013104,2.543080
10,Ondo,NaN,41,1690.0,NaN,3.357903,2.474269
11,Katsina,NaN,24,1167.0,NaN,1.965602,1.708563
12,Enugu,NaN,21,1321.0,NaN,1.719902,1.934029
13,Kwara,NaN,31,1094.0,NaN,2.538903,1.601687
14,Gombe,NaN,31,950.0,NaN,2.538903,1.390861
15,Ebonyi,NaN,30,1037.0,NaN,2.457002,1.518235
16,Abia,980.0,10,945.0,10.750329,0.819001,1.383541
17,Osun,979.0,22,937.0,10.739359,1.801802,1.371828
18,Bauchi,897.0,14,775.0,9.839842,1.146601,1.134650
19,Borno,778.0,36,705.0,8.534445,2.948403,1.032165
20,Imo,734.0,12,661.0,8.051777,0.982801,0.967747
21,Nasarawa,600.0,13,325.0,6.581834,1.064701,0.475821
22,Benue,515.0,11,460.0,5.649408,0.900901,0.673470
23,Bayelsa,497.0,21,421.0,5.451953,1.719902,0.616371
24,Ekiti,405.0,6,375.0,4.442738,0.491400,0.549024
25,Akwa Ibom,395.0,9,342.0,4.333041,0.737101,0.500710
26,Jigawa,386.0,11,318.0,4.234313,0.900901,0.465573
27,Niger,381.0,12,300.0,4.179465,0.982801,0.439219
28,Adamawa,355.0,21,238.0,3.894252,1.719902,0.348447
29,Anambra,299.0,19,274.0,3.279947,1.556102,0.401154
30,Sokoto,228.0,17,171.0,2.501097,1.392301,0.250355
31,Taraba,203.0,7,177.0,2.226854,0.573301,0.259139
32,Yobe,164.0,8,123.0,1.799035,0.655201,0.180080
33,Kebbi,143.0,8,130.0,1.568670,0.655201,0.190328
34,Cross River,93.0,11,81.0,1.020184,0.900901,0.118589
35,Zamfara,79.0,5,73.0,0.866608,0.409500,0.106877
36,Kogi,5.0,2,3.0,0.054849,0.163800,0.004392

In [68]:
# Top 5 states with highest cases
top_5_cases = covid_nig_data.nlargest(5, 'No. of Cases(Lab Confirmed)')

# Top 5 states with lowest cases
bottom_5_cases = covid_nig_data.nsmallest(5, 'No. of Cases(Lab Confirmed)')

print("Top 5 States with Most Cases:")
print(top_5_cases[['States Affected', 'No. of Cases(Lab Confirmed)']])

print("Top 5 States with Least Cases:")
print(bottom_5_cases[['States Affected', 'No. of Cases(Lab Confirmed)']])

Top 5 States with Most Cases:
   States Affected  No. of Cases(Lab Confirmed)
16            Abia                        980.0
17            Osun                        979.0
18          Bauchi                        897.0
19           Borno                        778.0
20             Imo                        734.0
Top 5 States with Least Cases:
   States Affected  No. of Cases(Lab Confirmed)
36            Kogi                          5.0
35        Zamfara                          79.0
34     Cross River                         93.0
33           Kebbi                        143.0
32            Yobe                        164.0